@import './quasar.variables.scss';

.text-primary-text {
    color: #ffffff !important;
}

.text-secondary-text {
    color: #ffffff !important;
}

.text-accent-text {
    color: #ffffff !important;
}
